{% extends "::layout.html.twig" %}

{% block title %}
    FilmManager - {{ parent() }}
{% endblock %}

{% block body %}

    {# Commun title for Bundle #}
    <h1>Movies sorted by user</h1>

    <hr>
    
    {% for type in ['info', 'success', 'error'] %}
        {% for message in app.session.flashbag.get(type) %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block valentinFilmsManager_body %}
    {% endblock %}

{% endblock %}