{% extends "::layout.html.twig" %}

{% block title %}
    FilmManager - {{ parent() }}
{% endblock %}

{% block body %}

    {# Commun title for Bundle #}
    <h1>Movies sorted by user</h1>

    <hr>

    {# On gère les messages flash de façon globale pour tout le bundle
       On peut catégoriser les messages dans différents sacs (bag),
       ici on les a mis dans "info", "success" et "error", qui correspondent aux classes CSS du Bootstrap #}
    
    {% for type in ['info', 'success', 'error'] %}
        {% for message in app.session.flashbag.get(type) %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {# On définit un nouveau block, que les vues du bundle pourront remplir #}
    {% block valentinFilmsManager_body %}
    {% endblock %}

{% endblock %}