{% extends "ValentinfirstPageBundle::layout.html.twig" %}

{% block title %}
  Ajouter un article - {{ parent() }}
{% endblock %}

{% block valentinblog_body %}

  <h2>Ajouter un article</h2>

  <p>
    Vous ajoutez un nouvel article.
  </p>

{% endblock %}